html {
    height: 100%;
}

body {
    height: 100%;
    background-color: #000000;
}

.center {
    text-align: center;
}

.fullH {
    min-height: 100%;
}

h1, h2, h3, h4, h5, h6, p, b, i {
    color: #808080;
    font-family: Times New Roman, Arial;
}

.btn {
    color: #FFFFFF;
    background-color: #808080;
    border-color: #AFAFAF;
}

.btn:hover {
    color: #FFFFFF;
    background-color: #404040;
    border-color: #606060;
}

.disabled, .btn.disabled, .btn[disabled] {
    opacity: 0.25;
}

.btn.cursor-def {
    cursor: default;
}

.btn.cursor-asc {
    cursor: all-scroll;
}

.btn.cursor-cel {
    cursor: cell;
}

.cursor-def {
    cursor: default;
}

.cursor-cel {
    cursor: cell; 
}

.cursor-asc {
    cursor: all-scroll;
}

a {
    color: #4060FE;
}

a:hover, a:focus {
    text-decoration: none;
    color: #2040DE;
}

.d-2 {
    padding-top: 2%;
}

.d-4 {
    padding-top: 4%;
}

.d-5 {
    padding-top: 5%;
}

.d-10 {
    padding-top: 10%;
}

.d-20 {
    padding-top: 20%;
}

.d-30 {
    padding-top: 30%;
}
